<%- include("../partials/main-header.ejs") %>

<header>
    <a href="#" class="company-logo">
        <img src="img/logos/teamreport-logo-gradient2.png" alt="">lapor<span>Masyarakat</span>
    </a>
    <div class="box dsp-flex align-itms-center">
        <div class="input-field second icon mrgn-r-10" data-validatormode="offline" data-type="text" tabindex="0">
            <div class="icons8-regular search"></div>
            <input name="" id="" aria-label="Search Engine" placeholder="Search">
        </div>
        <button class="btn-filled second" data-btnLabel="Get Started" aria-label="Get Started"></button>
        <!-- <div class="header-avatar" style="background-image: url(img/avatars/avatar3.png);"></div> -->
    </div>
</header>
<div class="content">
    <div class="box dsp-flex fl-1">
        <div class="box dsp-flex fl-1 justify-center fl-colm">
            <h1 class="font-weg-800 mrgn-clear text-1 line-heg-40">Melaporkan dan Menanggapi semua pengaduan, untuk mewujudkan <span class="accent-col-2">Komunikasi</span> yang baik antar <span class="accent-col-2">Masyarakat</span></h1>
            <p class=" font-size-12 disabled-text-3 line-heg-20">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusamus quos mollitia vel nobis repudiandae dolore ipsam dignissimos.</p>
            <div class="box dsp-flex mrgn-t-30">
                <button class="btn-filled default-gradient" style=" --heg: 50px; padding: 0 46px;" data-btnLabel="Sign Up" aria-label="sign up">
                </button>
                <span class="mrgn-l-10"></span>
                <button class="btn-regular second" aria-label="learn more" style="--heg: 50px; padding: 0 46px;">
                    <p>Pelajari Lanjut</p>
                </button>
            </div>
            <div class="box dsp-flex align-itms-center mrgn-t-20 mrgn-b-10">
                <p class="font-size-14 font-weg-500 disabled-text-1 mrgn-clear mrgn-r-6">Sudah Punya Akun?</p><a href="/forms" class="hyperlink default" style="width: fit-content; font-size: 14px;">Signin</a>
            </div>
        </div>
        <span class="pad-x-10"></span>
        <div class="box dsp-flex align-itms-center" style=" flex: 1.05; height: calc(100vh - 280px);">
            <img style="width: 100%;" src="img/report.png" alt="">
        </div>
    </div>
    <div class="box dsp-flex fl-1 justify-around pad-y-30">
        <div class="box dsp-flex fl-colm align-itms-center list-card">
            <h1 class="mrgn-clear text-1 font-weg-800 mrgn-b-10" style="font-size: 48px;">92%</h1>
            <p class="font-size-14 disabled-text-2 mrgn-clear">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="box dsp-flex fl-colm align-itms-center list-card">
            <h1 class="mrgn-clear text-1 font-weg-800 mrgn-b-10" style="font-size: 48px;">32</h1>
            <p class="font-size-14 disabled-text-2 mrgn-clear">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="box dsp-flex fl-colm align-itms-center list-card">
            <h1 class="mrgn-clear text-1 font-weg-800 mrgn-b-10" style="font-size: 48px;">60%</h1>
            <p class="font-size-14 disabled-text-2 mrgn-clear">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="box dsp-flex fl-colm align-itms-center list-card">
            <h1 class="mrgn-clear text-1 font-weg-800 mrgn-b-10" style="font-size: 48px;">1M</h1>
            <p class="font-size-14 disabled-text-2 mrgn-clear">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
    </div>
</div>
<div class="content dsp-grid" style="background-color: var(--color1); grid-template-columns: 1fr 1.6fr; gap: 40px; padding: 80px 100px;">
    <div class="box">
        <h1 class="font-weg-500 mrgn-clear line-heg-46 disabled-text-static-1">Laporan dari masyarakat sebagai program utama</h1>
        <p class="font-size-12 mrgn-b-30 line-heg-20 disabled-text-static-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <button class="btn-filled second" data-btnLabel="Lihat Semua" style="--heg: 50px; padding: 0 46px;"></button>
    </div>
    <div class="box">
        <div class="slider-box" data-slideoption="forward" data-timeloop="5000" data-index="0">
            <div class="slides mrgn-b-10">
                <div class="slide">
                    <div class="box avatar">
                        <img class="circle-view" src="img/avatars/avatar1.png" alt="" style="width: 90px;">
                    </div>
                    <div class="box comment">
                        <p class="mrgn-clear font-size-14 mrgn-b-30 font-weg-500 line-heg-26">"oiuoash doas hdads hsad hash doiah oahs doiahsdoiahsoidhiaoh  saihd"</p>
                        <h2 class="mrgn-clear font-size-24 font-weg-600">Rifaldi Arifin</h2>
                    </div>
                </div>
                <div class="slide">
                    <div class="box avatar">
                        <img class="circle-view" src="img/avatars/avatar2.png" alt="" style="width: 90px;">
                    </div>
                    <div class="box comment">
                        <p class="mrgn-clear font-size-14 mrgn-b-30 font-weg-500 line-heg-26">"ahsdliahsdlkashflkjgas aoisd oiashdliahsoi aosi doais doias doias hdoiashdsaoi dhaois daois doiasdasdasdoiashdoias."</p>
                        <h2 class="mrgn-clear font-size-24 font-weg-600">Roma Ramadhan Suhaili</h2>
                    </div>
                </div>
                <div class="slide">
                    <div class="box avatar">
                        <img class="circle-view" src="img/avatars/avatar3.png" alt="" style="width: 90px;">
                    </div>
                    <div class="box comment">
                        <p class="mrgn-clear font-size-14 mrgn-b-30 font-weg-500 line-heg-26">"iuwagfi wig liufwgei iw ue fea igweafiugewfiuewaglif aei iu eiu gflweaiugi g ui gfgfasoiugd a."</p>
                        <h2 class="mrgn-clear font-size-24 font-weg-600">Anofri Madhan Al Aziz</h2>
                    </div>
                </div>
                <div class="slide">
                    <div class="box avatar">
                        <img class="circle-view" src="img/avatars/avatar4.png" alt="" style="width: 90px;">
                    </div>
                    <div class="box comment">
                        <p class="mrgn-clear font-size-14 mrgn-b-30 font-weg-500 line-heg-26">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolore error eligendi laboriosam totam, optio a."</p>
                        <h2 class="mrgn-clear font-size-24 font-weg-600">Ariel Fahrezi</h2>
                    </div>
                </div>
            </div>
            <div class="slider-control"></div>
                <div class="prev-slide"></div>
                <div class="dot-slide active"></div>
                <div class="dot-slide"></div>
                <div class="dot-slide"></div>
                <div class="dot-slide"></div>
                <div class="next-slide"></div>
            </div>
        </div>
    </div>
</div>
<div class="content dsp-flex fl-colm align-itms-center" style="padding: 80px 100px">
    <h1 class="font-weg-600 mrgn-clear mrgn-b-20">Pertanyaan Seputar Tentang Lapor Masyarakat</h1>
    <p class="font-size-14 disabled-text-2 font-weg-600 mrgn-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="collapse-box" style="margin-top: 60px;">
        <div class="coll-head">
            <div class="coll-icon">
                <div class="icons8-regular heart"></div>
            </div>
            <p>Apa itu Lapor Masyarakat?</p> 
            <div class="coll-btn"></div>
        </div>
        <div class="coll-body" style="color: var(--disabled-color3);">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos, soluta sit dolorem, quae vel sint dicta veniam magni reprehenderit distinctio vitae eius perferendis, odio hic impedit ab? Ab, et?
        </div>
    </div>
    <div class="collapse-box">
        <div class="coll-head">
            <div class="coll-icon">
                <div class="icons8-regular heart"></div>
            </div>
            <p>Tujuan dari Lapor Masyarakat?</p>
            <div class="coll-btn"></div>
        </div>
        <div class="coll-body" style="color: var(--disabled-color3);">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos, soluta sit dolorem, quae vel sint dicta veniam magni reprehenderit distinctio vitae eius perferendis, odio hic impedit ab? Ab, et?
        </div>
    </div>
    <div class="collapse-box">
        <div class="coll-head">
            <div class="coll-icon">
                <div class="icons8-regular heart"></div>
            </div>
            <p>Bagaimana lapor masyarakat bekerja?</p>
            <div class="coll-btn"></div>
        </div>
        <div class="coll-body" style="color: var(--disabled-color3);">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos, soluta sit dolorem, quae vel sint dicta veniam magni reprehenderit distinctio vitae eius perferendis, odio hic impedit ab? Ab, et?
        </div>
    </div>
</div>
<div class="content dsp-flex justify-center started-content">
    <form class="started-form" action="" method="post">
        <div class="icon-form">
            <img src="img/logos/pngwing2.png" alt="">
            <h1>Get Started</h1>
            <p>Get in touch to get started</p>
        </div>
        <div class="box dsp-flex fl-colm align-itms-center mrgn-t-30">
            <div class="input-field light default icon mrgn-b-30" data-validatormode="offline" data-type="text" tabindex="0">
                <div class="icons8-regular user"></div>
                <input name="" id="" aria-label="Name Field" />
                <span data-msginput=" / Cannot be empty!">Full Name</span>
            </div>
            <div class="input-field light default icon" data-validatormode="offline" data-type="email" tabindex="0">
                <div class="icons8-regular mail"></div>
                <input name="" id="" aria-label="Name Field" />
                <span data-msginput=" / Cannot be empty!">Email</span>
            </div>
            <div class="box dsp-flex font-size-13 mrgn-y-20" style="color: whitesmoke;">
                <input type="checkbox" name="" id="">
                <!-- <label for=""></label> -->
                You agree to our friendly<a style="margin-left: 3px; color:skyblue;" href="#">privacy policy</a>
            </div>
        </div>
        <button type="button" class="btn-filled second" data-btnLabel="Register and submit" style=" --heg: 50px; padding: 0 46px;">

        </button>
    </form>
</div>
<div class="content mail-send">
    <div class="box">
        <h1 class="line-heg-46">LaporMasyarakat selalu ada untuk anda, apa yang anda laporkan sangatlah berharga.</h1>
        <p class="line-heg-26">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum accusamus odit dolorum ipsam atque earum maxime necessitatibus.</p>
        <!-- <span style="display: block; width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.2);"></span> -->
    </div>
    <div class="box form-parent">
        <form class="mini-form" action="">
            <div class="input-field default icon" data-validatormode="offline" data-type="email" tabindex="0" >
                <div class="icons8-regular mail"></div>
                <input name="" id="" aria-label="Email field" />
                <span data-msginput=" / Cannot be empty!">Type your email</span>
            </div>
            <button type="button" class="btn-filled default-gradient" data-btnlabel="Send Mail"></button>
        </form>
    </div>
    
</div>
<footer>
    <a href="#" class="company-logo light">
        <img src="img/logos/teamreport-logo-gradient2.png" alt="">lapor<span>Masyarakat</span>
    </a>
    <div class="copyright dark">
        Copyright © 2023 Rifaldi Arifin, All Rights Reserved.
    </div>
    <div class="copyright-box">
        <a href="#" class="hyperlink dark">
            Website Terms
        </a>
        <a href="#" class="hyperlink dark">
            Privacy Policy
        </a>
        <a href="#" class="hyperlink dark">
            Accessibility Statement
        </a>
    </div>
    <div class="box footer-content">
        <button class="btn-filled second" data-btnlabel="Sign up" style="--heg: 50px; padding: 0 46px;"></button>
        <button class="btn-regular second" aria-label="learn more" style="--heg: 50px; padding: 0 46px;">
            <p>Pelajari Lanjut</p>
        </button>
    </div>
</footer>

<%- include("../partials/main-footer.ejs") %>