<div class="header-form"></div>
<div class="content-form">
    <div class="company-logo dsp-flex" style="border: 1px solid var(--third-color); width: fit-content; border-radius: 50%; padding: 4px;">
        <img src="img/logos/teamreport-logo-gradient2.png" alt="" style="margin: 0;">
    </div>
    <p class="font-size-13 font-weg-600 disabled-text-1 mrgn-clear">Signup</p>
    <h1 class="title">Masukan Nomor Telepon</h1>
    <div class="input-field default icon" data-validatormode="online" data-type="phone" tabindex="0" style="width: 100%; max-width: 500px;">
        <div class="icons8-regular iphonese"></div>
        <input name="no_telepon" maxlength="14" id="" aria-label="Nomor Telepon" autocomplete="off" />
        <span data-msginput=" / Cannot be empty!">Nomor Telepon</span>
        <span class="show-pass"></span>
    </div>
    <div class="end-input">
        <div class="box dsp-flex justify-beetwen">
            <button type="button" style="width: 150px;" id="prev" class="btn-regular default-gradient" onclick="openPage('/signup/lokasialamat', 'multiple-form', 'top')">
            <p>Kembali</p></button>
            <button type="button" style="width: 150px;" id="next" class="btn-filled default-gradient" onclick="openPage('/signup/aturprofil', 'multiple-form', 'bottom')" data-btnlabel="Lanjut"></button>
        </div>
    </div>
</div>
<div class="footer-form">
    <a href="/masyarakat/help" class="hyperlink">
        <div class="icons8-filled inquiry"></div>Butuh bantuan?
    </a>
</div>