<div class="header-form">
</div>
<div class="content-form">
    <div class="company-logo dsp-flex" style="border: 1px solid var(--third-color); width: fit-content; border-radius: 50%; padding: 4px;">
        <img src="img/logos/teamreport-logo-gradient2.png" alt="" style="margin: 0;">
    </div>
    <p class="font-size-13 font-weg-600 disabled-text-1 mrgn-clear">Signup</p>
    <h1 class="title">Penyelesaian Akhir</h1>
    <p class="font-size-14 mrgn-clear font-weg-400">Sebelum anda lanjut, harap membaca Syarat & Ketentuan.</p>
    <!-- <a href="#" class="company-logo mrgn-b-6" style="font-size: 22px;">
        <div class="box mrgn-t-4">lapor<span style="font-size: 24px;">Masyarakat</span></div>
    </a> -->
    <h2 class="font-weg-600 mrgnc">Syarat & Ketentuan.</h2>
    <div class="box">
        <p class="font-weg-600 mrgn-clear mrgn-b-6">Lorem Ipsum</p>
        <p class="font-size-14 line-heg-2 mrgn-clear mrgn-b-10" style="white-space: break-spaces;">Lorem laborum cillum excepteur est veniam. Deserunt veniam nulla aute quis Lorem labore nulla deserunt nisi aute veniam fugiat. Fugiat fugiat ex irure et aute velit do Lorem aliquip. Velit sit magna mollit occaecat irure veniam quis mollit elit irure do. Dolor in occaecat incididunt id sit sint consequat ut. Et laboris eu ea nulla velit velit ea ea cupidatat amet deserunt nulla proident Lorem. Ullamco cillum dolor laboris proident ullamco cupidatat nostrud dolore Lorem dolore ullamco tempor excepteur exercitation.</p>
    </div>
    <div class="box">
        <p class="font-weg-600 mrgn-clear mrgn-b-6">Dolor Sit Amet</p>
        <p class="font-size-14 line-heg-2 mrgn-clear mrgn-b-10" style="white-space: break-spaces;">Eu proident dolor dolore et aliquip adipisicing ad. Nulla sint do ullamco aute pariatur officia nisi nulla qui mollit. Minim duis excepteur sit do et mollit id. Eiusmod mollit culpa nulla dolor aute ullamco. Et ad tempor dolor ut duis nulla dolor. Culpa sint aliqua dolor ullamco amet proident dolore aute veniam dolor consectetur nulla.</p>
    </div>
    <div class="box">
        <p class="font-weg-600 mrgn-clear mrgn-b-6">Consectetur Adipisicing</p>
        <p class="font-size-14 line-heg-2 mrgn-clear" style="white-space: break-spaces;">Minim cupidatat incididunt anim ut. Enim quis nisi fugiat do excepteur adipisicing consectetur sunt nisi exercitation proident esse mollit ullamco. Officia culpa fugiat velit do do enim officia officia labore ut id eu ipsum id.</p>
    </div>
    <div class="check-field">
        <input type="checkbox" name="checkbox" id="">Saya setuju dengan syarat & ketentuan yang ada.
    </div>
    <div class="end-input">
        <div class="box dsp-flex justify-beetwen">
            <button type="button" style="width: 150px;" id="prev" class="btn-regular default-gradient" onclick="openPage('/signup/aturprofil', 'multiple-form', 'top')">
                <p>Kembali</p></button>
            <button type="button" style="width: 150px;" id="next" onclick="openPage('/signup/signupsuccess', 'multiple-form', 'bottom', () => signupCollectData())" class="btn-filled default-gradient" data-btnlabel="Lanjut"></button>
        </div>
    </div>
</div>
<div class="footer-form">
    <a href="/masyarakat/help" class="hyperlink">
        <div class="icons8-filled inquiry"></div>Butuh bantuan?
    </a>
</div>