<div class="form-box">
    <div class="form-content-banner">
        <div class="box dsp-flex fl-colm gap-20 mrgn-b-20" style="margin-top: 60px;">
            <h1 class="font-size-22 mrgn-clear font-weg-700" style="color: white;">Selesai</h1>
            <!-- <p class="font-size-12 font-weg-500 mrgn-clear" style="color: white;">Syarat & Ketentuan yang berlaku.</p> -->
        </div>
        
    </div>
    <form class="multiple-form" id="multiple-form" action="" method="post">
        <div class="tab-form active">
            <div class="header-form">
            </div>
            <div class="content-form">
                <div class="company-logo dsp-flex" style="border: 1px solid var(--third-color); width: fit-content; border-radius: 50%; padding: 4px;">
                    <img src="img/logos/teamreport-logo-gradient2.png" alt="" style="margin: 0;">
                </div>
                <p class="font-size-13 font-weg-600 disabled-text-1 mrgn-clear">Signup</p>
                <h1 class="title">berhasil</h1>
                <p class="font-size-14 mrgn-clear font-weg-400">Sign Up berhasil, pilih Signin untuk memulai atau kembali ke halaman utama.</p>
                
                <div class="end-input">
                    <div class="box dsp-flex justify-beetwen">
                        <button type="button" style="width: fit-content;" class="btn-regular default-gradient" onclick="openURL('/')">
                            <p>Kembali halaman utama</p></button>
                        <button type="button" style="width: 150px;" class="btn-filled default-gradient" data-btnlabel="Sign In" onclick="openURL('/forms', () => timelineform())"></button>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <a href="/masyarakat/help" class="hyperlink">
                    <div class="icons8-filled inquiry"></div>Butuh bantuan?
                </a>
            </div>
        </div>
    </form>
</div>