<div class="header-page"></div>
<div class="content-page welcome">
    <div class="box dsp-flex fl-colm justify-center align-itms-start" style="height: 100%;">
        <h1>Selamat Siang, <%= accountsession.namaPanggilan %>.</h1>
        <p class="font-size-13 font-weg-500 disabled-text-1">Melaporkan dan Menanggapi semua keluhan
            Masyarakat, untuk
            mewujudkan komunikasi yang baik antar Masyarakat.</p>
        <br>
    </div>
    <div class="footer-content">
        <a href="/masyarakat/help" class="hyperlink">
            <div class="icons8-filled inquiry"></div>Butuh bantuan?
        </a>
    </div>
</div>