<div class="header-page">
    <h1>Rincian Laporan</h1>
</div>
<div class="content-page pad-10 mrgn-y-10">
    <div class="box dsp-grid gap-20" style="grid-template-columns: 1.3fr 1fr; height: 100%;">
        <div class="box z-1">
            <div class="box">
                <h3 class="font-size-18 font-weg-700">Laporan :</h3>
                <div class="box dsp-flex align-itms-center gap-20">
                    <img src="img/avatars/avatar4.png" alt="" class="circle-view">
                    <div class="box dsp-flex fl-colm gap-6">
                        <p class="font-size-16 nowrap font-weg-700 mrgn-clear">Ariel Fahrezi</p>
                        <p class="font-size-12 nowrap font-weg-700 font-consolas space-06 disabled-text-1 mrgn-clear">0554778463145623</p>
                    </div>
                </div>
            </div>
            <span class="mrgn-y-30 dsp-block mrgn-x-10" style="border-bottom: 1px solid var(--third-color);"></span>
            <div class="box">
                <h3 class="font-size-18 font-weg-700">Judul :</h3>
                <p class="font-size-16 line-heg-26 font-weg-500">Bencana Tsunami di Aceh</p>
            </div>
            <span class="mrgn-y-30 dsp-block mrgn-x-10" style="border-bottom: 1px solid var(--third-color);"></span>
            <div class="box">
                <h3 class="font-size-18 font-weg-700">Keterangan :</h3>
                <p class="font-size-16 line-heg-26 font-weg-500" style="white-space: break-spaces;">Id labore pariatur reprehenderit consectetur tempor ut adipisicing exercitation amet do ullamco. Velit Lorem in eu ad voluptate dolor in id sit eu sunt sunt irure. Sit Lorem eiusmod nostrud eiusmod officia enim consequat ipsum aute eiusmod irure. Non laboris velit eiusmod consectetur pariatur enim qui adipisicing. Elit commodo est adipisicing ullamco et ex ad labore ea reprehenderit laboris do voluptate. Ipsum anim excepteur duis magna esse voluptate tempor Lorem sunt consequat dolore.

Ea minim eiusmod sunt laboris do tempor. Et ut exercitation ipsum ea non. Do sit consectetur cillum duis exercitation amet sint ex aute ullamco sint labore labore. Incididunt dolor aute duis consequat qui incididunt adipisicing aute laboris aliqua id laboris ipsum voluptate.</p>
            </div>
            <span class="mrgn-y-30 dsp-block mrgn-x-10" style="border-bottom: 1px solid var(--third-color);"></span>
            <div class="box">
                <p class="font-size-16 font-weg-700">Waktu & Tanggal Laporan dibuat</p>
                <div class="box dsp-flex gap-20">
                    <div class="box dsp-flex align-itms-center">
                        <div class="icons8-regular clock"></div><span class="font-size-13 font-weg-500 disabled-text-1" style="margin-left: 4px;">21:30 WIB</span>
                    </div>
                    <div class="box dsp-flex align-itms-center">
                        <div class="icons8-regular calendar"></div><span class="font-size-13 font-weg-500 disabled-text-1" style="margin-left: 4px;">12 Februari 2023</span>
                    </div>
                </div>
            </div>
            <span class="mrgn-y-30 dsp-block mrgn-x-10" style="border-bottom: 1px solid var(--third-color);"></span>
            <div class="box">
                <p class="font-size-16 font-weg-700">Berikan tanggapan ke yang melaporkan</p>
                <div class="textarea-field default icon" tabindex="0" style="width: 100%;">
                    <div class="icons8-regular ball-point-pen"></div>
                    <textarea name="" id=""></textarea>
                    <span style="background-color: var(--second-color);" data-msginput=" / Cannot be empty!">Input Here</span>
                </div>
            </div>
            <div class="box dsp-flex gap-10 mrgn-t-30">
                <button class="btn-filled second" data-btnlabel="Selesai"></button>
            </div>
        </div>
        <div class="box">
            <div class="viewer-box">
                <div class="main-view no-view">

                </div>
                <div class="box dsp-flex align-itms-center mrgn-10">
                    <div class="icons8-regular document"></div>
                    <p class="font-size-13 font-weg-400 disabled-text-1 mrgn-clear" style="margin-left: 4px;">Terdapat 3 file</p>
                </div>
                <div class="gallery-view">
                    <div class="list" data-filetype="image" data-filesrc="https://images.unsplash.com/photo-1475776408506-9a5371e7a068?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=758&q=80">
                        <img src="https://images.unsplash.com/photo-1475776408506-9a5371e7a068?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=758&q=80" alt="htr">
                        <div class="parent-dropdown bottom-left">
                            <div class="icon icons8-filled menuvertical cursr-pointer" tabindex="0" data-dpkey="previewlist1,btn-primary" style="filter: brightness(99);"></div>
                            <div class="dropdown-box pad-10" data-dpkey="previewlist1,dropdown"
                            data-dpanim="slide-bottom-on,slide-bottom-off">
                                <ul class="list-box">
                                    <a class="li disappear" href="filelaporan/picture/htr.png" download="test">
                                        <div class="icons8-filled downloadingupdates mrgn-r-6"></div>Unduh
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="list" data-filetype="image" data-filesrc="https://images.unsplash.com/photo-1581059686229-de26e6ae5dc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80">
                        <img src="https://images.unsplash.com/photo-1581059686229-de26e6ae5dc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="htr">
                        <div class="parent-dropdown bottom-left">
                            <div class="icon icons8-filled menuvertical cursr-pointer" tabindex="0" data-dpkey="previewlist5,btn-primary" style="filter: brightness(99);"></div>
                            <div class="dropdown-box pad-10" data-dpkey="previewlist5,dropdown"
                            data-dpanim="slide-bottom-on,slide-bottom-off">
                                <ul class="list-box">
                                    <a class="li disappear" href="https://images.unsplash.com/photo-1581059686229-de26e6ae5dc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" download="test">
                                        <div class="icons8-filled downloadingupdates mrgn-r-6"></div>Unduh
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="list" data-filetype="video" data-filesrc="filelaporan/video/Doraemon.mp4">
                        <div class="parent-dropdown bottom-left">
                            <div class="icon icons8-filled menuvertical cursr-pointer" tabindex="0" data-dpkey="previewlist6,btn-primary" style="filter: brightness(99);"></div>
                            <div class="dropdown-box pad-10" data-dpkey="previewlist6,dropdown"
                            data-dpanim="slide-bottom-on,slide-bottom-off">
                                <ul class="list-box">
                                    <a class="li disappear" href="filelaporan/picture/htr.png" download="test">
                                        <div class="icons8-filled downloadingupdates mrgn-r-6"></div>Unduh
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <a href="/masyarakat/help" class="hyperlink">
            <div class="icons8-filled inquiry"></div>Butuh bantuan?
        </a>
    </div>
</div>