<div class="header-page"></div>
<div class="content-page welcome">
    <div class="box dsp-flex fl-colm justify-center align-itms-start" style="height: 100%;">
        <h1>Selamat Siang, Rifaldi.</h1>
        <p class="font-size-13 font-weg-500 disabled-text-1">Melaporkan dan Menanggapi semua keluhan Masyarakat, untuk
            mewujudkan komunikasi yang baik antar Masyarakat.</p>
        <br>
        <p class="font-size-14 font-weg-600">Ada yang ingin dilaporkan?</p>
        <button class="btn-filled default-gradient"
            onclick="openPage({path: '/home/laporanpengaduan/buatlaporan', containerID: 'content', animType: 'fadein'}); setBuatLaporanPoint();"
            data-btnlabel="Ajukan Laporan Pengaduan" aria-label="Ajukan Laporan">
            <div class="icons8-filled document"></div>
        </button>
    </div>
    <div class="footer-content">
        <a href="/masyarakat/help" class="hyperlink">
            <div class="icons8-filled inquiry"></div>Butuh bantuan?
        </a>
    </div>
</div>