<div class="header-page">
    <h1>Tentang</h1>
</div>
<div class="content-page pad-10 mrgn-y-20">
    <div class="box">
        <a href="#" class="company-logo mrgn-b-20" style="font-size: 18px; flex-direction: column; align-items: flex-start; width: fit-content; white-space: nowrap;">
            <img class="mrgn-b-10" src="img/logos/teamreport-logo-gradient2.png" alt="" style="width: 70px;"><span style="color: var(--textb1);">lapor<span style="font-size: 19px;">Masyarakat</span></span>
        </a>
        <p class="font-size-14 font-weg-500 mrgn-b-20 line-heg-26">
            Melaporkan dan Menanggapi semua keluhan Masyarakat, untuk mewujudkan komunikasi yang baik antar Masyarakat.
            <br>
            <br>
            Amet anim nulla veniam incididunt adipisicing voluptate proident in reprehenderit. Consectetur dolore sunt duis amet. Irure enim est ad adipisicing. Id nostrud deserunt pariatur nostrud ea exercitation ipsum officia non incididunt nostrud in. Voluptate deserunt nostrud Lorem id irure fugiat. Officia excepteur laborum anim voluptate. Elit proident ad labore incididunt esse incididunt ex nostrud velit tempor officia id.
            <br>
            <br>
            Esse excepteur deserunt tempor in ullamco consequat esse officia laboris quis proident ut eiusmod laboris. Occaecat veniam minim sunt esse esse quis non dolor do ea duis velit dolore. Irure incididunt qui sint non velit dolor. Occaecat ad irure consectetur laborum eiusmod id ad nulla ad aliquip excepteur non. Culpa deserunt anim quis commodo magna in sint proident commodo. Voluptate labore reprehenderit duis do. Eu aliqua quis do elit dolor sint cupidatat excepteur aliqua consequat veniam.
            <br>
            <br>
            Officia aute eu ut adipisicing mollit amet tempor ullamco sint est id do. In aliqua consectetur voluptate minim ad dolore proident id officia dolore aute irure sunt. Do et do id cillum labore laboris ullamco. Duis laborum enim ad aute veniam ut sint qui reprehenderit irure. Et id irure occaecat deserunt sit reprehenderit nostrud elit pariatur. Dolore pariatur consectetur pariatur excepteur et occaecat deserunt ex incididunt.
            <br>
            <br>
            Officia veniam commodo occaecat irure dolor est magna minim irure amet consequat labore. Duis aliquip consectetur sint consectetur. Aliqua adipisicing consequat Lorem excepteur consequat quis adipisicing irure cupidatat eiusmod eu. Aute nulla deserunt labore eu nulla aliquip mollit est in excepteur aliqua exercitation officia minim. Duis esse sint nisi labore sit culpa est. Dolore nulla tempor fugiat anim eu sunt proident pariatur in. Dolore cupidatat ea adipisicing proident eu pariatur fugiat in nulla tempor aute.
        </p>
        <div class="footer-content">
            <button class="btn-filled second morp-2" data-btnlabel="Read More" style="--heg: 50px; padding: 0 46px;"></button>
            <div class="box dsp-flex mrgn-t-20">
                <button class="btn-filled solid morp-1 icon-only logo-icon">
                    <div class="facebook" style="margin: 0;"></div>
                </button>
                <button class="btn-filled solid morp-1 icon-only logo-icon">
                    <div class="twitter" style="margin: 0;"></div>
                </button>
                <button class="btn-filled solid morp-1 icon-only logo-icon">
                    <div class="linkedin" style="margin: 0;"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <a href="/masyarakat/help" class="hyperlink">
            <div class="icons8-filled inquiry"></div>Butuh bantuan?
        </a>
    </div>
</div>